@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  @apply w-full h-full m-0 p-0 relative
}

#root {
  @apply bg-gray-500
}

button {
  cursor: none;
}

* {
  cursor: none;
}

span {
  font-family: "Sans-serif", cursive;
}

div {
  font-family: "Sans-serif", cursive;
}

/* Hide cursor on scrollbar */
 ::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

/*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

::-webkit-scrollbar {
  cursor: default;
} */

button.menu {
  background: url('button.png') 0 0;
}

button.menu:hover {
  background: url('button.png') 0 90px;
}

button.menu:active {
  background: url('button.png') 0 180px;
}

button.start {
  background: url('./assets/images/start.png') 0 0;
}

button.start:hover {
  background: url('./assets/images/start.png') 0 132px;
}

button.start:active {
  background: url('./assets/images/start.png') 0 265.666px;
}

button.setting {
  background: url('./assets/images/setting.png') 0 0;
}

button.setting:hover {
  background: url('./assets/images/setting.png') 0 133px;
}

button.setting:active {
  background: url('./assets/images/setting.png') 0 267px;
}

button.credits {
  background: url('./assets/images/credits.png') 0 0;
}

button.credits:hover {
  background: url('./assets/images/credits.png') 0 133px;
}

button.credits:active {
  background: url('./assets/images/credits.png') 0 267px;
}

button.quit {
  background: url('./assets/images/quit.png') 0 0;
}

button.quit:hover {
  background: url('./assets/images/quit.png') 0 133px;
}

button.quit:active {
  background: url('./assets/images/quit.png') 0 267px;
}

button.controller {
  background: url('./assets/images/controller.png') 0 0;
}

button.controller:hover {
  background: url('./assets/images/controller.png') 0 132px;
}

button.controller:active {
  background: url('./assets/images/controller.png') 0 266px;
}

button.sound {
  background: url('./assets/images/sound.png') 0 0;
}

button.sound:hover {
  background: url('./assets/images/sound.png') 0 132px;
}

button.sound:active {
  background: url('./assets/images/sound.png') 0 266px;
}

button.screen {
  background: url('./assets/images/screen.png') 0 0;
}

button.screen:hover {
  background: url('./assets/images/screen.png') 0 132px;
}

button.screen:active {
  background: url('./assets/images/screen.png') 0 266px;
}

button.back {
  background: url('./assets/images/back.png') 0 0;
}

button.back:hover {
  background: url('./assets/images/back.png') 0 132px;
}

button.back:active {
  background: url('./assets/images/back.png') 0 266px;
}

button.back-sm {
  background: url('./assets/images/back-sm.png') 0 0;
}

button.back-sm:hover {
  background: url('./assets/images/back-sm.png') 0 79.75px;
}

button.back-sm:active {
  background: url('./assets/images/back-sm.png') 0 160px;
}

button.create-new-wallet {
  background: url('./assets/images/Create a new wallet.png') 0 0;
}

button.create-new-wallet:hover {
  background: url('./assets/images/Create a new wallet.png') 0 71px;
}

button.create-new-wallet:active {
  background: url('./assets/images/Create a new wallet.png') 0 141.5px;
}

button.create-new-wallet:disabled {
  opacity: 0.5;
}

button.create-new-wallet:disabled:hover,
button.create-new-wallet:disabled:active {
  background: url('./assets/images/Create a new wallet.png') 0 0;
}

button.import-existing-wallet {
  background: url('./assets/images/import an existing wallet.png') 0 0;
}

button.import-existing-wallet:hover {
  background: url('./assets/images/import an existing wallet.png') 0 71px;
}

button.import-existing-wallet:active {
  background: url('./assets/images/import an existing wallet.png') 0 141.5px;
}

button.import-existing-wallet:disabled {
  opacity: 0.5;
}

button.import-existing-wallet:disabled:hover,
button.import-existing-wallet:disabled:active {
  background: url('./assets/images/import an existing wallet.png') 0 0;
}

button.next {
  background: url('./assets/images/next.png') 0 0;
}

button.next:hover {
  background: url('./assets/images/next.png') 0 71px;
}

button.next:active {
  background: url('./assets/images/next.png') 0 141.5px;
}

button.next:disabled {
  opacity: 0.5;
}

button.next:disabled:hover,
button.next:disabled:active {
  background: url('./assets/images/next.png') 0 0;
}

button.confirm {
  background: url('./assets/images/confirm.png') 0 0;
}

button.confirm:hover {
  background: url('./assets/images/confirm.png') 0 71px;
}

button.confirm:active {
  background: url('./assets/images/confirm.png') 0 141.5px;
}

button.confirm:disabled {
  opacity: 0.5;
}

button.confirm:disabled:hover,
button.confirm:disabled:active {
  background: url('./assets/images/confirm.png') 0 0;
}

button.show-seed {
  background: url('./assets/images/show seed phrase.png') 0 0;
}

button.show-seed:hover {
  background: url('./assets/images/show seed phrase.png') 0 77px;
}

button.show-seed:active {
  background: url('./assets/images/show seed phrase.png') 0 153px;
}

button.show-seed:disabled {
  opacity: 0.5;
}

button.show-seed:disabled:hover,
button.show-seed:disabled:active {
  background: url('./assets/images/show seed phrase.png') 0 0;
}

button.show-private-key {
  background: url('./assets/images/show private.png') 0 0;
}

button.show-private-key:hover {
  background: url('./assets/images/show private.png') 0 77px;
}

button.show-private-key:active {
  background: url('./assets/images/show private.png') 0 153px;
}

button.show-private-key:disabled {
  opacity: 0.5;
}

button.show-private-key:disabled:hover,
button.show-private-key:disabled:active {
  background: url('./assets/images/show private.png') 0 0;
}

button.import-wallet {
  background: url('./assets/images/import wallet.png') 0 0;
}

button.import-wallet:hover {
  background: url('./assets/images/import wallet.png') 0 77px;
}

button.import-wallet:active {
  background: url('./assets/images/import wallet.png') 0 153px;
}

button.import-wallet:disabled {
  opacity: 0.5;
}

button.import-wallet:disabled:hover,
button.import-wallet:disabled:active {
  background: url('./assets/images/import wallet.png') 0 0;
}

button.get-started {
  background: url('./assets/images/get started.png') 0 0;
}

button.get-started:hover {
  background: url('./assets/images/get started.png') 0 133px;
}

button.get-started:active {
  background: url('./assets/images/get started.png') 0 267px;
}

button.get-started:disabled {
  opacity: 0.5;
}

button.get-started:disabled:hover,
button.get-started:disabled:active {
  background: url('./assets/images/get started.png') 0 0;
}
